<section class="home-section pt-24 pb-6">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="profile-image-container">
        <div class="profile-image">
          <img src="assets/images/YaraMohsen.jpg" alt="Profile" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-text">
        <h2 class="text-one">Hello<span class="wave">👋</span></h2>
        <h1 class="profile-name">I'm Yara</h1>
        <h2 class="text-two"><span class="typed-text" id="typed-text"></span></h2>
        <p class="bio">Emphasizing practical implementations over theoretical concepts.</p>
        <div class="cta-buttons">
          <a href="/projects" class="btn btn-primary">View My Work</a>
          <a href="/contact" class="btn btn-outline">Contact Me</a>
        </div>
        <div class="social-links">
          <a href="https://github.com/yaraaamohsen" class="social-link"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/yaraaamohsen/" class="social-link"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://wa.me/201117910880" class="social-link"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://vercel.com/yaraaamohsens-projects" class="social-link"> <svg aria-label="Vercel logomark"
              height="18" role="img" viewBox="0 0 74 64" style="width: auto; overflow: visible;">
              <path d="M37.5896 0.25L74.5396 64.25H0.639648L37.5896 0.25Z" fill="white"></path>
            </svg> </a>
        </div>
      </div>
    </div>
  </div>
</section>