<section class="pt-24 px-4" id="contact">
  <div class="max-w-5xl mx-auto px-6 flex flex-col">
    <div>
      <h2 class=" text-5xl text-center mb-2 font-bold text-white text-shadow-lg">Let's Connect</h2>
      <p class="text-lg text-center mb-16 opacity-90 text-white">Have a question or want to work together?</p>
    </div>
    <div class="flex gap-6 flex-wrap md:flex-nowrap">
      <div
        class="p-12 w-10/12 mx-auto md:w-1/3 text-center bg-gradient-to-br from-indigo-500 to-purple-600 rounded-2xl backdrop-blur-md shadow-lg">
        <i class="fas fa-envelope fa-4x mb-4"></i>
        <a href="https://www.gmail.com" class="text-xl" target="_blank"
          rel="noopener noreferrer">0yaramohsen00&#64;gmail.com</a>
      </div>
      <div
        class="p-12 w-10/12 mx-auto md:w-1/3 text-center bg-gradient-to-br from-indigo-500 to-purple-600 rounded-2xl backdrop-blur-md shadow-lg">
        <i class="fa-solid fa-location-dot fa-4x mb-4 block"></i>
        <a href="#" class="text-xl">Cairo, Egypt</a>
      </div>
      <div
        class="p-12 w-10/12 mx-auto md:w-1/3 text-center bg-gradient-to-br from-indigo-500 to-purple-600 rounded-2xl backdrop-blur-md shadow-lg">
        <i class="fa-solid fa-phone fa-4x mb-4 block"></i>
        <a href="#" class="text-xl">+201117910880</a>
      </div>
    </div>
    <div class="flex justify-center gap-4 my-16">
      <a href="https://www.linkedin.com/in/yaraaamohsen/"
        class=" w-12 h-12 flex items-center justify-center bg-white/10 rounded-full transition-transform hover:bg-white hover:translate-y-[-5px] hover:text-blue-700"><i
          class="fab fa-linkedin"></i></a>
      <a href="https://github.com/yaraaamohsen"
        class=" w-12 h-12 flex items-center justify-center bg-white/10 rounded-full transition-transform hover:bg-white hover:translate-y-[-5px] hover:text-black"><i
          class="fab fa-github"></i></a>
      <a href="https://wa.me/201117910880"
        class="w-12 h-12 flex items-center justify-center bg-white/10 rounded-full transition-transform hover:bg-white hover:translate-y-[-5px] hover:text-black"><i
          class="fa-brands fa-whatsapp"></i></a>
      <a href="https://vercel.com/yaraaamohsens-projects"
        class="w-12 h-12 flex items-center justify-center bg-white/10 rounded-full transition-transform hover:bg-white hover:translate-y-[-5px] vercel-logo">
        <svg aria-label="Vercel logomark" height="14" role="img" viewBox="0 0 74 64"
          style="width: auto; overflow: visible;">
          <path d="M37.5896 0.25L74.5396 64.25H0.639648L37.5896 0.25Z" fill="white"></path>
        </svg> </a>
    </div>
  </div>
</section>