<section class="py-12 px-6">
    <h2 class="text-pink-500 text-sm uppercase">Experience</h2>
    <h1 class="text-3xl font-bold text-green-600 my-4">Work Experience</h1>
    <div class="space-y-8">
      <div>
        <h3 class="text-lg font-semibold">Shunp IT</h3>
        <p class="text-sm text-gray-500">January 2022 - October 2022</p>
        <p class="text-green-600 font-semibold">Full Stack Developer</p>
        <p class="text-gray-600">Worked on developing project that was aimed at improving company’s biggest revenue stream and client management system.</p>
      </div>      
    </div>
  </section>